/* #region----------commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --cl-light: #FFFFFF;
    --cl-dark: #000000;
    --cl-bck_jumbo: #B4D0E7;
    --cl-bck_CTA: #0061FF;
    --cl-alternative_txt: #61082B;
    --cl-bck_teams_Designit: #F5F5F5;
    --cl-bck__left_team_1: #A2D39B;
    --cl-bck__left_team_2: #61082B;
    --cl-bck__left_team_3: #0093CE;
    --cl-bck__left_team_4: #FF1C1C;
    --cl-bck__right_team_1: #D5001F;
    --cl-bck__right_team_2: #B4D0E7;
    --cl-bck__right_team_3: #0D2481;
    --cl-bck__right_team_4: #FFD830;
}
/* #endregion----------*/



/* #region----------utilities*/
.d_flex{
    display: flex;
}
.justify_cent{
    justify-content: center;
}
.justify_betw{
    justify-content: space-between;
}
.justify_arou{
    justify-content: space-around;
}
.align_it_center{
    align-items: center;
}
.align_co_center{
    align-content: center;
}
.flex_wr{
    flex-wrap: wrap;
}
.justify_end{
    justify-content: flex-end;
}
.pad_1r{
    padding: 1rem;
}
.pad_2r{
    padding: 2rem;
}
.pad_5r{
    padding: 5rem;
}
.margin_r{
    margin-right: 1rem;
}
.dashed{
    border: dashed 2px blue;
}
.position_rel{
    position: relative;
}
.cta{
    background-color: var(--cl-bck_CTA);
    color: var(--cl-light);
    padding: .3rem .6rem;
}
.container_65{
    width: 65%;
    margin: auto;
}
.container_50{
    width: 50%;
    margin: auto;
}
/* #endregion----------*/



/* #region----------header-navbar*/
#app_header{
    font-size: .8rem;
}
#navbar{
    background-color: var(--cl-light);
    height: 4rem;
    width: 100%;
    position: sticky;
}
#navbar p{
    margin: 1rem;
}

#navbar .logo{
    height: 1.2rem;
}
.nav_left, .nav_right{
    width: 40%;
}

/* #endregion----------*/



/* #region----------main-jumbotron*/
.jumbo_section{
    height: 36rem;
    background-color: var(--cl-bck_jumbo);
}
#jumbo{
    height: 23rem;
    padding-top: 4rem;
}
#jumbo h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 2rem;

}
.text_image{
    height: 100%;
}
.text{
    width: 40%;
    max-height: 100%;
}
.image{
    flex-grow: 1;
}

/* #endregion----------*/



/* #region----------footer*/

/* #endregion----------*/













