/* #region----------commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --cl-light: #FFFFFF;
    --cl-dark: #000000;
    --cl-bck_jumbo: #B4D0E7;
    --cl-bck_CTA: #0061FF;
    --cl-alternative_txt: #61082B;
    --cl-bck_teams_Designit: #F5F5F5;
    --cl-bck__left_team_1: #A2D39B;
    --cl-bck__left_team_2: #61082B;
    --cl-bck__left_team_3: #0093CE;
    --cl-bck__left_team_4: #FF1C1C;
    --cl-bck__right_team_1: #D5001F;
    --cl-bck__right_team_2: #B4D0E7;
    --cl-bck__right_team_3: #0D2481;
    --cl-bck__right_team_4: #FFD830;
}
/* #endregion----------*/

/* #region----------utilities*/
.d_flex{
    display: flex;
}
.justify_cent{
    justify-content: center;
}
.justify_betw{
    justify-content: space-between;
}
.justify_arou{
    justify-content: space-around;
}
.align_it_center{
    align-items: center;
}
.align_co_center{
    align-content: center;
}
.flex_wr{
    flex-wrap: wrap;
}
.justify_end{
    justify-content: flex-end;
}
.flex_clmn{
    flex-direction: column;
}
.pad_1r{
    padding: 1rem;
}
.pad_2r{
    padding: 2rem;
}
.pad_5r{
    padding: 5rem;
}
.pad_t2r{
    padding-top: 2rem;
}
.pad_b5{
    padding-bottom: 5rem;
}
.margin_r{
    margin-right: 1rem;
}
.dashed{
    border: dashed 2px blue;
}
.position_rel{
    position: relative;
}
.cta{
    background-color: var(--cl-bck_CTA);
    color: var(--cl-light);
    padding: .3rem .6rem;
}
.container_65{
    width: 65%;
    margin: auto;
}
.container_50{
    width: 50%;
    margin: auto;
}
.col_4{
    width: calc(100% / 12 * 4);
    padding: .5rem;
}
.col_12{
    width: 100%;
    padding: .5rem;
}
.row{
    flex-wrap: wrap;
    display: flex;
}
/* #endregion----------*/

/* #region----------header-navbar*/
#app_header{
    font-size: .8rem;
}
#navbar{
    background-color: var(--cl-light);
    height: 4rem;
    width: 100%;
    position: sticky;
}
#navbar p{
    margin: 1rem;
}

#navbar .logo{
    height: 1.2rem;
}
.nav_left, .nav_right{
    width: 40%;
}

/* #endregion----------*/

/* #region----------main-jumbotron*/
.jumbo_section{
    height: 36rem;
    background-color: var(--cl-bck_jumbo);
}
#jumbo{
    height: 23rem;
    padding-top: 4rem;
}
#jumbo h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 2rem;

}
.text_image{
    height: 19rem;
}
.text{
    width: 40%;
}
.image{
    flex-grow: 1;
}

/* #endregion----------*/

/* #region----------business plans*/
.business_plans>h2{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
#sections .check1,.check2{
    width: 20rem;
    height: 2rem;
}
/* #endregion----------*/

/* #region----------card*/
.card{
    flex-direction: column;
}
.col_4 .card .card_header{
    flex-basis: 2rem;
    height: 100%;
    background-color:#61082B;
    text-align: center;
}

.col_4 .card .card_main{
    flex-basis: 20rem;
    height: 100%;
    background-color: #A2D39B;
}

.col_4 .card .card_footer{
    flex-basis: 15rem;
    height: 100%;
    background-color: #0093CE;
}

.col_1 .card .card_header{
    flex-basis: 2rem;
    height: 100%;
    background-color:#61082B;
}
.col_1 .card .card_main{
    flex-basis: 10rem;
    height: 100%;
    background-color: #A2D39B;
}

/* #endregion----------*/

/* #region----------partner section*/
#partner_section{
    height: 20rem;
    background-color: lightcoral;
}
#partner_section div{
    height: 20rem;
}
/* #endregion----------*/

/* #region----------operation section*/
#operation_section{
    background-color: lightgreen;
    height: 35rem;
}
#operation_section div{
    height: 10rem;
}
/* #endregion----------*/

/* #region----------members*/
#members{
    background-color: lightseagreen;
    max-height: 30rem;
}

.square_block{
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 50%;
    aspect-ratio: 1/1;
}


/* #endregion----------*/

/* #region----------call to action*/
#call_to_action{
    height: 10rem;
    background-color: lightgoldenrodyellow;
} 
/* #endregion----------*/

/* #region----------faq*/
#faq{
    max-height: 20rem;
    background-color: lightgreen;
} 
#faq li{
    padding: .5rem;
    position: relative;
}
#faq h2{
    padding: 2rem;
}
#faq li:first-child{
    position: absolute;
    left: 0;
}
#faq li:last-child{
    position: absolute;
    right: 0;
}

/* #endregion----------*/



/* #region----------footer*/

/* #endregion----------*/













